.dygraph-title {
  color: navy;
  font-weight: bold;
  font-family: "NanumGothic"
}

.dygraph-axis-label {
  font-size: 13 px;
  font-family: "NanumGothic"
}

.dygraph-ylabel {
  font-size: 13 px;
  font-family: "NanumGothic"
}
